
  .container{
    padding:1em 1em;
  }
  .buttonv {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .buttonv:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
.buttonv {
    border-radius: 20px; /* Rounded buttons */
  }
  
  
  
  